.general {
    margin: 0;
}

.barra {
    background-color: black;
    color: white;
    height: 50px;
}

.menu > ul {
    margin: 0;
}

.menu > ul > li {
    display: inline;
    margin: 15px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
}

.menu > ul > li:first-child {
    float: left;
}

.home {
    width: 15px;
    margin: 0;
    padding: 0;
}

.portada {
    width: 100%;
    height: 100%;
    
}

.seccion {
    position: relative;
    text-align: center;
    color: black;
    
}
.textochido {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}

.textochido > h1 {
    font-size: 40px;
    background-color: white;
}

.textochido > h3 {
    background-color: white;
}

#link:hover {
    color: #fff;
    text-decoration: none;
}

#link{
   color: #fff; 
}
